<div class="<%= options.type %>-key" note="<%= options.note %>" style="
  <% if (options.left) { %>
    left: <%= options.left %>px;
  <% } %>
  width: <%= options.width %>px;
  height: <%= options.height %>px;"
></div>
